/* style={{border:"2px solid rgb(69,69,69)",borderRadius:"20px",padding:"10px"}} */
.ExpenseItem {
  width: 70%;
  height: 30rem;
  margin: 3rem auto;
  overflow-y: scroll;
  border-radius: 20px;
  padding:10px 10px;
  box-shadow:  1px 3px 7px 10px rgba(10, 10, 10, 0.21);
  position: relative;
  
}

.ExpenseItem h2 {
  text-align: left;
  margin-right: 3rem;
}

.ExpenseItem header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.ExpenseItem li {
  list-style: none;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(133, 133, 133);
  padding-bottom: 10px;
}

.ExpenseItem div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ExpenseItem span {
  background-color: aquamarine;
}
.ExpenseItem::-webkit-scrollbar {
  width: 12px;       /* width of the entire scrollbar */
}

.ExpenseItem::-webkit-scrollbar-track {
  background:none;    
  padding: 10px;    /* color of the tracking area */
}

.ExpenseItem::-webkit-scrollbar-thumb {
  background-color: rgb(109, 109, 109);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
   margin-right:3px; /* creates padding around scroll thumb */
}

.buttonContainer{
display: flex;
justify-content: center;
gap: 1rem;
}
.buttonContainer button{
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
}
.deleteButton {
  background-color: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
}
.editButton{
  background-color: #36A9AE;
  border: 1px solid #2A8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #FFFFFF;
}
.csv{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15%;
  background-color: rgb(209, 255, 234);
  padding: 5px;
  border-radius: 12px;
  font-size: 1.4rem;
  text-decoration: none;
}
.csv button {
  outline: 4px solid rgb(10, 56, 22);
  border-radius: 10px;
  color: rgb(10, 56, 22);
}
.csv button:hover {
  outline-offset: 3px;
}